li {
    list-style: none;
    background-color:#00bfa566;
    display: flex;
    border-radius: 5px;
    margin-bottom: 0.9rem;
    border: 0;
    height: 30px;
    padding: 0 10px;
    align-items: center;

}
.TodoItem-p {
    width: -webkit-fill-available;
    display: inline-block;
    color: #F9FBFC;
    margin: 0;
    padding: 7px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
}
