.add-task-section {
    grid-column: 2 / 3;
    width: 100%;
    margin-bottom: 1rem;

}

input {
    border-color: #00bfa566;
    background-color: #2D3E50;
    width: 65%;
    padding: 0 10px;
    color: #F9FBFC;
    outline: none;

}

.add-task-btn {
    background-color: #00bfa566;
    border: none;
    color: #F9FBFC	;
    font-weight:750;
    cursor: pointer;
    width: 35%;
    border-radius: 0 8px 8px 0;
    text-transform: uppercase; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
input, .add-task-btn {
    height: 36.5px;
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }