h1 {
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    color: #00bfa59c;
    grid-column: 2 / 3;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.TodoCounter span {
    font-weight: bold;
}